# Cosmic API credentials
NEXT_PUBLIC_COSMIC_BUCKET_SLUG=6abe573259463ea225acc7f5
COSMIC_READ_KEY=your-read-key

# Cosmic Insights
COSMIC_INSIGHTS_PROJECT=6ab946c0d6c934079b996b83
NEXT_PUBLIC_COSMIC_INSIGHTS_PROJECT=6ab946c0d6c934079b996b83
